* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 40px;
    margin-right: 10px;
  }
  
  .site-name {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav li {
    cursor: pointer;
    font-weight: normal;
    transition: color 0.2s;
  }
  
  nav li:hover {
    color: #000000;
  }
  
  nav li.active {
    font-weight: bold;
  }
  
  .connect-wallet {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;
  }
  
  .connect-wallet:hover {
    background-color: #f0f0f0;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
  }
  
  .stake-card {
    background-color: #f2f2f2;
    width: 300px;
    padding: 20px;
    height: 200px; /* Фиксированная высота */
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative; /* Нужно для абсолютного позиционирования */
  }
  
  .stake-title {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  
  .stake-input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
  
  .stake-input input {
    width: 150px; 
    text-align: center;
    margin-right: 10px;
    font-size: 1rem;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .stake-input img {
    width: 24px;
    height: 24px;
  }
  
  .go-button {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;
    position: absolute;
    bottom: 20px; /* Отступ от низа */
    left: 50%;
    transform: translateX(-50%); /* Центрируем кнопку */
  }

  .go-button:hover {
    background-color: #e0e0e0;
  }

  .go-button-stake {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;
    position: absolute;
    bottom: 20px; /* Отступ от низа */
    left: 50%;
    transform: translateX(-50%); /* Центрируем кнопку */
  }
  
  .go-button-stake:hover {
    background-color: #e0e0e0;
  }
  